

.App-header {
  background-color: #3d4450;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
    border: 1px solid #555;
}

.resetButton {
    bottom: 5%;
    right: 5%;
    width:8%;
    height:10%;
}

.fragButtonVis {
    height: 50px;
    width: 8%;
}

.help {
    position: fixed;
    top: 5%;
    right: 20%;
}

.fragButtonInVis {
    background: transparent;
    border: none !important;
    font-size:0;
}

.desc {
    font-size: 50%;
}

